# Editor
.idea/

# NPM
node_modules/

# Temp files
src/shaders/*.js

# dont ignore vendor libs

bower_components/*

# webgl-pathtracer

!bower_components/webgl-pathtracer/

bower_components/webgl-pathtracer/*
!bower_components/webgl-pathtracer/dist/

# three.js

!bower_components/three.js/

bower_components/three.js/*
!bower_components/three.js/build/
